@import "tailwindcss";

@theme {
  --color-dark: #0f172a;
  --color-darker: #020617;
  --color-brand: #3b82f6;
  --color-danger: #ef4444;
}

body {
  background-color: var(--color-darker);
  color: #f8fafc;
}

@keyframes sweep {
  0% { background-position: 200% center; }
  100% { background-position: -200% center; }
}
.animate-sweep {
  background-size: 200% auto;
  animation: sweep 2s linear infinite;
}